[Desktop Entry]
Name=Diffuse Merge Tool
Name[cs]=Diffuse
Name[de]=Diffuse Mischwerkzeug
Name[es]=Diffuse utillaje de textos
Name[it]=Diffuse - strumento di unione
Name[ja]=Diffuse マージツール
Name[ko]=Diffuse 병합도구
Name[pl]=Diffuse Narzędzie Scalania
Name[ru]=Diffuse Инструмент Слияния
Name[th]=Diffuse - เครื่องมือผสานแฟ้ม
Name[zh_CN]=Diffuse 比较合并工具
Name[zh_TW]=Diffuse 比較合併工具
Comment=Graphical tool for merging and comparing text files
Comment[cs]=Grafický nástroj pro slučování a porovnávání textových souborů
Comment[de]=Werzeug zum Mischen und Vergleichen von Textdateien
Comment[es]=Un utillaje para juntar y comparar archivos de texto
Comment[it]=Strumento grafico per l'unione e il confronto di file
Comment[ja]=テキストファイルをマージして比較するためのグラフィックツール
Comment[ko]=텍스트 파일을 병합하고 비교하기위한 도구
Comment[pl]=Graficzne narzędzie do łączenia i porównywania plików tekstowych
Comment[ru]=Графический инструмент для слияния и сравнения текстовых файлов
Comment[th]=เครื่องมือแบบกราฟิกสำหรับเปรียบเทียบและผสานแฟ้มข้อความ
Comment[zh_CN]=图形化的比较和合并文本文件的工具
Comment[zh_TW]=比較與合併文字檔案的圖形化工具
Exec=diffuse -s %F
Icon=diffuse
Terminal=false
Type=Application
MimeType=text/plain;text/x-csrc;text/x-chdr;
Categories=Development;GTK;
StartupNotify=true
